@import "tailwindcss";


.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }

.success{
  background-color: green;
  color: white;
}

.error{
  background-color: red;
  color: white;
}



/* @media (max-width:791px){
  #bannerProdInfo{
      top: 510px;
  }
} */

@media (max-width:400px){
  #bannerProdInfo{
      top: 430px;
  }
}


@media (max-width:400px){
  #featuredHomeProd{
      padding-top: 270px;
  }
}
